.exchange__PSC {
    text-align: center;
}

.exchange__types {
    margin: 13px 0;
    font-size: 14px;
    font-weight: 700;
    font-family: Arial, sans-serif;
}

.exchange__transactions {
        border: 30px outset;
        border-color: grey;
}


/*Form*/

.form-exchange {
    display: flex;
    flex-direction: column;
    margin: 1px;
}

.form-exchange__text {
    height: 30px;
    line-height: 30px;
}

.form-exchange__item {
    display: flex;
    justify-content: start;
    align-items: center;
    border: 1px solid;
    font-size: 13px;
    border: 1px inset #dbe1e8;
    color: #999;
}

.form-exchange__name {
    text-align: start;
    display: inline-block;
    width: 35%;
    height: 100%;
    padding: 4px;
}

.form-exchange__name span {
    color: red;
}

.form-exchange__input {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    border-left: 0.5px inset #dbe1e8;
    padding: 4px;
    height: 100%;
    font-family: Arial, sans-serif;
}

.form-exchange__input input {
    color: #999;
    text-decoration: none;
    border: 1px solid #dbe1e8;
    height: 30px;
    width: 63px;
    outline: none;
    padding: 0 8px;
    margin: 0 1px;
}

.form-exchange__input select {
    text-decoration: none;
    border: 1px solid #dbe1e8;
    height: 30px;
    outline: none;
    color: #999;
    padding-left: 5px;
}

.form-exchange__input img {
    display: block;
    height: 30px;
    margin: 0 1px;
}

.form-exchange__input span {
    color: #1e90ff;
    text-align: center;
    line-height: 30px;
    margin-left: 3px;
}

.form-exchange__input textarea {
    color: #999;
    text-decoration: none;
    border: 1px solid #dbe1e8;
    height: 120px;
    width: 400px;
    outline: none;
    padding: 8px;
}

.form-exchange__email {
    width: 176px !important;
}

.form-exchange__wallet {
    width: 176px !important;
}

.exmo_check {
    width: 300px !important;
}

.exmo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    margin-top: 20px;
    border: 1px solid grey;
    
}

.exmo__item {
    border: 3px double grey;
    width: 50%;
    font-size: 13px;
    line-height: 17px;
}

.exmo__title {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 15px 0;
}

.exmo__title img {
    height: 56px;
}

.exmo__title span {
    color: #0099cc;
}

.exmo__descrp {
    text-align: center;
    margin: 15px 0;
}



.form-exchange__button {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 53px;
    padding: 2px;
    border: 1px inset #dbe1e8;
}

.form-exchange__wrapper {
    display: flex;
    align-items: center;
}

.form-exchange__wrapper button {
    font-size: 11px;
    padding: 9px 11px;
    border: none;
    font-weight: normal;
    cursor: pointer;
    background-color: #f27935;
    text-transform: uppercase;
    color: #ffff;
    width: auto;
    outline: none;
}

.form-exchange__wrapper button:hover {
    background-color: #1abc9c;
}

.form-exchange__wrapper a {
    font-size: 13px;
    display: block;
    margin-left: 10px;
    text-decoration: none;
    color: #1abc9c;
}

.form-exchange__wrapper a:hover {
    text-decoration: underline;
}


/*voucher*/

.history {
    display: flex;
    justify-content: space-between;
    border: 1px solid;
    padding: 30px;
    margin: 20px 0;
}

.history__wrapper {
    width: 65%;
}

.history_icon {
    height: 40px;
    margin-right: 10px;
}

.history__title {
    display: flex;
    align-items: center;
    border: 1px solid;
    font-size: 22px;
    padding: 10px;
    margin-bottom: 15px;
}

.history__size {
    width: 32%;
}

.history__information {
    border: 1px solid;
    font-size: 18px;
    padding: 10px;
    height: 93%;
}

.history__information span {
    font-size: 14px;
    min-height: 490px;
}

.history__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 13px 0;
}

.history__item img {
    display: block;
    width: 35px;
    height: 35px;
    margin: 1.5px;
}

.history__descrp {
    font-size: 18px;
    width: 100%;
}

.history__reserve {
    display: flex;
    align-items: center;
}

.history__flex {
    align-items: flex-start;
}

.reserve_wrapper {
    width: 100%;
}

.reserve_item {
    justify-content: start;
}

.paypal {
    color: #0000ff;
}

.skrill {
    color: #4b0082;
}

.webmoney {
    color: #0066ff;
}

.perfectmoney {
    color: #ff0000;
}

.bitcoin {
    color: #ff6600;
}

.ethereum {
    color: #333399;
}

.litecoin {
    color: #666699;
}

.dogecoin {
    color: #ffa500;
}

.dash {
    color: #0033ff;
}

.neteller {
    color: #66cc66;
}

.privat24 {
    color: #339900;
}

.notice {
    text-align: start;
    color: #FFA07A;
    margin: 55px 0;
}

.voucher {
    font-size: 14px;
    margin: 40px 0;
}

.voucher a {
    text-decoration: none;
    color: #1abc9c;
}

.voucher a:hover {
    text-decoration: underline;
}

.voucher__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.voucher__wrapper img {
    width: 250px;
}

.voucher__item {
    font-weight: 700;
    margin: 5px 0;
}

.voucher__descrp {
    margin: 0 0 20px;
}

.voucher__text {
    text-align: start;
}

.attention {
    font-size: 16px;
    font-family: 'Times New Roman',sans-serif;
    color: #ff0000;
    text-align: start;
}

.attention__title {
    font-size: 16px;
    font-weight: normal;
}

.attention__descrp span {
    color: #000000;
}

.attention__pay {
    text-align: center;
    color: #800000;
    margin: 10px 0;
}

.attention__key {
    color: #5e6d81;
    margin: 15px 0 25px;
}

.attention__pay span {
    color: #ff0000;
}

.attention__pay img {
    display: block;
    margin: 0 auto;
}

.guarantee {
    margin-top: 22px;
}

.main__faq {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    font-size: 18px;
}

.main__contacts {
    font-family: Arial, sans-serif;
    font-weight: 700;
    padding: 4px;
}

.main__contacts span {
    color: rgb(30, 144, 255);
    font-weight: normal;
}

.main__icq span {
    color: rgb(50, 205, 50);
}

.faq {
    font-family: Tahoma;
}

.form-faq {
    font-size: 13px;
}

.faq__input {
    flex-direction: column;
    border-left: 0;
}

.faq__input input {
    width: 400px;
    margin: 0;
}

.faq__input select {
    width: 150px;
    font-size: 13px;
}

.faq__name span {
    color: red;
}

.faq__button {
    margin-left: 4px;
}

/*instruction list*/

.instruction {
    text-align: center;
    font-size: 13px;
    margin-top: 30px;
}

.instruction a {
    color: #1abc9c;
    text-decoration: none;
}

.instruction a:hover {
    text-decoration: underline;
}

.instruction img {
    display: block;
    /* margin: 0 auto; */
    width: 730px;
}

.instruction__title {
    font-size: 13px;
    font-weight: normal;
}

.instruction__text {
    text-align: start;
}

.instruction__text span {
    color: #0066ff;
    font-weight: 700;
}

.comment {
    font-size: 14px;
}

.comment a {
    color: #1abc9c;
    text-decoration: none;
}
.comment a:hover {
    color: #1abc9c;
    text-decoration: underline;
}
.comment a {
    color: #1abc9c;
    text-decoration: none;
}

.comment__title {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    padding-bottom: 4px;
}

.title__wrapper {
    display: flex;
}

/* a comment*/

.comment__subtitle {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
}

.comment__displayed {
    line-height: 19px;
}

.comment__pages {
    display: flex;
    line-height: 19px;
}

.comment__pages a {
    margin: 0 4px;
    color: #5e6d81;
    font-size: 11px;
    text-align: center;
    line-height: 19px;
}

.page_active {
    display: block;
    background-color: #1abc9c;
    min-width: 19px;
    height: 19px;
    margin: 0 2px;
    color: #ffffff !important;
    padding: 0 4px;
    font-weight: 700;
}

.page_active:hover {
    color: #ffffff;
    text-decoration: none;
}

.pages_center {
    justify-content: center;
}

.comment__messages {
    margin: 20px 0 40px;
}

.message_title {
    display: flex;
    justify-content: space-between;
}

.title__wrapper {
    display: flex;
}

.comment__name {
    margin-right: 15px;
}

.comment__date {
    font-size: 9px;
    line-height: 20px;
}

.comment__like {
    display: flex;
    align-self: start;
}
.comment__like img {
    width: 13px;
    height: 13px;
    margin: 2px;
}

.like_sum {
    font-size: 11px;
    margin: 2px;
    font-weight: 700;
    font-family: Arial, sans-serif;
}

.comment__text {
    margin: 15px 0;
}

.comment__messages hr {
    border-bottom: 1px solid #dbe1e8;
    border-top: 0;
}

.comment__form {
    width: 100%;
    margin-top: 40px;
}

.form__comment {
    padding: 20px;
    background-color: #dbe1e8;
    
}

.form__item {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 10px 0;
}

.form__item input {
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    padding: 0 10px;
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: #999;
}

.form__item textarea {
    width: 100%;
    height: 160px;
    border: none;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: #999;
    outline: none;
}

.form__name {
    width: 150px;
}

.form__button {
    display: flex;
    justify-content: center;
}

/*Registration*/

.sign_up-title {
    font-size: 21px;
    font-weight: normal;
}

.registration {
    display: flex;
    font-size: 13px;
}

.registration__wrapper {
    width: 350px;
}

.registration__subtitle {
    margin-bottom: 15px;
}

.registration__social {
    display: flex;
    flex-wrap: wrap;
}

.registration__link {
    display: flex;
    align-items: center;
    width: 175px;
    color: #1abc9c;
    font-weight: 400;
    text-decoration: none;
    font-size: 12px;
    margin-bottom: 7px;
}

.registration__icon {
    width: 30px;
    height: 30px;
    border: 2px solid;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.registration__icon img {
    display: block;
    width: 20px;
    height: 20px;
}

.registration__company {
    margin: 0 10px;
}

.ucoz {
    border-color: #1E90FF;
}

.ucoz img {
    width: 17px;
}

.facebook {
    border-color: #3b5998;
}

.google {
    border-color: #000000;
}

.registration__input {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
    color: #939fae;
    max-width: 300px;
}

.registration__input input {
    width: 100%;
    height: 30px;
    outline: none;
    border: 1px solid #dbe1e8;
    color: #939fae;
    margin: 5px 0;
    padding: 0 8px;
}

.registration__check {
    margin: 15px 0;
}

.excellent__registration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.excellent__title {
    font-size: 21px;
    font-weight: normal;
    margin: 6px;
}

.excellent__subtitle {
    font-size: 19px;
}

.excellent__text {
    width: 500px;
}

/* Profile */

.profile {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.profile a {
    color: #1abc9c;
    text-decoration: none;
    font-size: 13px;
}

.profile a:hover {
    text-decoration: underline;
}

.profile hr {
    margin: 15px 0;
    border-top: 0;
    border-bottom: 1px solid #dbe1e8;
}

.profile__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__avatar {
    position: relative;
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

.profile__avatar img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile__status {
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 3px solid #ffffff;
    right: 5px;
    bottom: 5px;
}

.profile__online {
    background-color: #2BD400;
}

.profile__offline {
    background-color:#F74659;
}

.profile__full-name {
    margin-bottom: 7px;
}

.profile__buttons {
    margin: 30px 0 15px;
    display: flex;
}

.profile__buttons a {
    display: block;
    background-color: #EBEFF0;
    color: #27292C;
    font-size: 11px;
    border: 1px solid #D5D9DB;
    border-radius: 20px;
    padding: 6px 14px 7px;
    margin: 8px;
}

.profile__buttons a:hover {
    text-decoration: none;
    background-color: #D5D9DB;
}

.profile__subtitle {
    font-size: 19px;
    font-weight: normal;
    margin: 20px 0;
}

.profile__section {
    font-size: 13px;
    margin-bottom: 40px;
}

.profile__string {
    display: flex;
    margin: 7px 0;
}

.string__name {
    width: 160px;
}

.string__content {
    height: 10px;
}

.string__content img {
    height: 100%;
    margin: 0 3px;
}

.profile__social {
    display: flex;
    justify-content: start;
    margin-bottom: 40px;
}

.profile__link {
    margin-right: 5px;
}

.profile__icon {
    width: 26px;
    height: 26px;
}

.profile__icon img {
    height: 15px;
}

.profile__search {
    display: flex;
    justify-content: center;
}

.form-search {
    display: flex;
    justify-content: space-between;
}

.profile__input input {
    max-width: 240px;
    margin: 0 3px;
    font-size: 13px;
    text-align: center;
}

.profile__input input::-webkit-input-placeholder {
    color: #dbe1e8;
}

.profile__input input::-moz-placeholder {
    color: #dbe1e8;
}

.edit__form {
    font-size: 13px;
}

.edit__item {
    display: flex;
    align-items: center;
}

.edit__item textarea {
    width: 100%;
    height: 76px;
    color: #999;
    border: 1px solid #dbe1e8;
    outline: none;
    padding: 8px;
}

.edit__item select {
    height: 30px;
    color: #999;
    border: 1px solid #dbe1e8;
    outline: none;
}


.edit__name {
    display: flex;
    align-items: center;
    font-size: 12px;
    min-width: 235px;
    
}

.red {
    color: #fd4339;
    font-weight: normal;
}

.edit__content span {
    font-weight: 700;
}

.edit__input {
    width: 100%;
    height: 30px;
    color: #999;
    border: 1px solid #dbe1e8;
    outline: none;
    padding: 0 8px;
}

.edit__content {
    margin: 2px 0;
}

.edit__checkbox {
    text-align: center;
}

.edit__checked {
    margin: 5px 8px 5px 0;
    color: #939fae;
}

/*Accept private messages  - Button_click*/

#hider {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

#hider:checked+.edit__groups {
    display: block;
}

.edit__link {
    text-decoration: none;
    color: #1abc9c;
    cursor: pointer;
}

.edit__link:hover {
    text-decoration: underline;
}

.edit__groups {
    margin-top: 10px;
    display: none;
    text-align: start;
}

.edit__button {
    justify-content: center;
}


/*  mail profile*/

.profile__mail {
   font-family: Tahoma, Geneva, sans-serif;
   font-size: 13px;
}

.mail__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
 
}

.mail__menu {
    display: flex;
    align-items: center;
}

.mail__menu a {
    margin: 0 2px;
}

.mail__menu span {
    font-weight: 700;
}

.mail__informer {
    position: relative;
    width: 60px;
    height: 12px;
    background: #eee;
    border: 1px solid #bbb;
    cursor: help;
    border-radius: 2px;
}

.mail__indication {
    position: absolute;
    content: "";
    width: 1%;
    height: 11px;
    background-color: #51b5ea;
}

.mail__messages {
    text-align: center;
}

/*Send messages*/

.mail__form {
    font-size: 13px;
    text-align: start;
}

.mail__item {
    display: flex;
    justify-content: start;
    margin: 5px 0;
}

.mail__item textarea {
    height: 135px;
}

.mail__name {
    min-width: 150px;
}

.mail__wrapper {
    width: 100%;
}

.mail__recipient input {
    width: 250px;
}

.mail__wrapper-buttons {
    display: flex;
    justify-content: center;
}

/*Users profile*/

.profile__users {
    font-size: 13px;
    font-family: Tahoma, Geneva, sans-serif;
}

.users_found {
    display: flex;
    justify-content: space-between;
}

.users__pages {
    display: flex;
}

.users__pages a {
    margin: 0 2px;
}

.users_pages-active {
    color: #5e6d81 !important;
    font-weight: 700;
}

.users__subtitle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.users__subtitle div {
    font-weight: 700;
}

.users__users {
    display: flex;
    justify-content: space-between;
}

.users__avatar {
    width: 43px;
    display: flex;
    justify-content: center;
}

.users__avatar img {
    width: 16px;
    height: 16px;
}

.users__group {
    width: 40px;
}

.users__registration {
    width: 113px;
    text-align: center;
}

.users__messages {
    width: 63px;
    text-align: center;
}

.users__search {
    font-size: 13px;
}


.users__input {
    width: 92px;
}

.users__item {
    margin: 0 2px;
}

.users__item select {
    padding: 0 5px;
}

