.exchange__PSC {
    text-align: center;
}

.exchange__types {
    margin: 13px 0;
    font-size: 14px;
    font-weight: 700;
    font-family: Arial, sans-serif;
}

.exchange__transactions {
        border: 30px outset;
        border-color: grey;
}

.form-exchange {
    display: flex;
    flex-direction: column;
    margin: 1px;

}

.form-exchange__item {
    display: flex;
    justify-content: start;
    align-items: center;
    border: 1px solid;
    font-size: 13px;
    border: 1px inset #dbe1e8;
}

.form-exchange__name {
    text-align: start;
    display: inline-block;
    line-height: 30px;
    width: 35%;
    height: 100%;
    padding: 4px;
    border-right: 0.5px inset #dbe1e8;
}

.form-exchange__name span {
    color: red;
}

.form-exchange__input {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    border-left: 0.5px inset #dbe1e8;
    padding: 4px;
    height: 100%;
    font-family: Arial, sans-serif;
}

.form-exchange__input input {
    color: #999;
    text-decoration: none;
    border: 1px solid #dbe1e8;
    height: 30px;
    width: 63px;
    outline: none;
    padding: 0 8px;
    margin: 0 1px;
}

.form-exchange__input select {
    text-decoration: none;
    border: 1px solid #dbe1e8;
    height: 30px;
    outline: none;
    color: #999;
    padding-left: 5px;
}

.form-exchange__input img {
    display: block;
    height: 30px;
    margin: 0 1px;
}

.paysafecard_pin {
    height: 30px;
}

.paysafecard_email {
    width: 176px !important;
}

.paysafecard_wallet {
    width: 176px !important;
}

.form-exchange__button {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 53px;
    padding: 2px;
    border: 1px inset #dbe1e8;
}

.form-exchange__wrapper {
    display: flex;
    align-items: center;
}

.form-exchange__wrapper button {
    font-size: 11px;
    padding: 9px 11px;
    border: none;
    font-weight: normal;
    cursor: pointer;
    background-color: #f27935;
    text-transform: uppercase;
    color: #ffff;
    width: auto;
}

.form-exchange__wrapper button:hover {
    background-color: #1abc9c;
}

.form-exchange__wrapper a {
    font-size: 13px;
    display: block;
    margin-left: 10px;
    text-decoration: none;
    color: #1abc9c;
}

.form-exchange__wrapper a:hover {
    text-decoration: underline;
}

.history {
    display: flex;
    justify-content: space-between;
    border: 1px solid;
    padding: 20px;
    margin: 20px 0;
}

.history__wrapper {
    width: 65%;
}

.history_icon {
    height: 40px;
    margin-right: 10px;
}

.history__title {
    display: flex;
    align-items: center;
    border: 1px solid;
    font-size: 22px;
    padding: 10px;
    margin-bottom: 15px;
}

.history__size {
    width: 32%;
}

.history__information {
    border: 1px solid;
    font-size: 18px;
    padding: 10px;
    min-height: 1065px;
}

.history__information span {
    font-size: 14px;
    min-height: 490px;
}

.history__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 13px 0;
}

.history__item img {
    display: block;
    width: 35px;
    height: 35px;
    margin: 1.5px;
}

.history__descrp {
    font-size: 18px;
    width: 100%;
}

.history__reserve {
    display: flex;
    align-items: center;
}

.reserve_wrapper {
    width: 100%;
}

.reserve_item {
    justify-content: start;
    margin: 20px 0;
}

.paypal {
    color: #0000ff;
}

.skrill {
    color: #4b0082;
}

.webmoney {
    color: #0066ff;
}

.perfectmoney {
    color: #ff0000;
}

.bitcoin {
    color: #ff6600;
}

.ethereum {
    color: #333399;
}

.litecoin {
    color: #666699;
}

.dogecoin {
    color: #ffa500;
}

.dash {
    color: #0033ff;
}

.notice {
    text-align: start;
    color: #FFA07A;
    margin: 55px 0;
}

.voucher {
    font-size: 14px;
}

.voucher a {
    text-decoration: none;
    color: #1abc9c;
}

.voucher a:hover {
    text-decoration: underline;
}

.voucher__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.voucher__wrapper img {
    width: 250px;
}

.voucher__item {
    font-weight: 700;
    margin: 5px 0;
}

.voucher__descrp {
    margin: 0 0 20px;
}

.voucher__text {
    text-align: start;
}


