@font-face {
    font-family: 'PT Sans';
    src: url('/fonts/PTS55F_W.eot');
    src: url('/fonts/PTS55F_W.eot?#iefix') format('embedded-opentype'),
        url('/fonts/PTS55F_W.woff') format('woff'),
        url('/fonts/PTS55F_W.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed';
    font-display: swap;
    src: url('/fonts/RobotoCondensed-Regular.woff2') format('woff2'),
        url('/fonts/RobotoCondensed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed';
    font-display: swap;
    src: url('/fonts/RobotoCondensed-Light.woff2') format('woff2'),
        url('/fonts/RobotoCondensed-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed';
    font-display: swap;
    src: url('/fonts/RobotoCondensed-Bold.woff2') format('woff2'),
        url('/fonts/RobotoCondensed-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

html {
    background-color: #eceff3;
    font-family: 'Tahoma',sans-serif;
}

.container {
    margin: 0 auto;
    width: 1160px;
}

.carousel {
    min-height: 500px;
}

.overview__carousel {
    position: relative;
}

.overview__img {
    width: 100%;
}

.overview__wrapper {
    position: absolute;
    z-index: 10;
    background: rgba(26, 188, 156, .8);
    color: #ffffff;
    word-wrap: break-word;
    text-align: center;
    bottom: 0;
    width: 14.28%;
    min-height: 50px;
    padding: 20px 20px 40px 20px;
    box-sizing: border-box;
}

.overview__title {
    font-size: 20px;
    font-family: PT Sans;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.overview__title a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
}

.overview__title a:hover {
    text-decoration: underline;

}

.overview__title span {
    color: rgb(255, 0, 0);
}

.overview__descrp {
    font-size: 15px;
    font-family: Tahoma, Geneva, sans-serif;
}

.slick-dots {
    display: flex;
    padding: 0;
    position: absolute;
    bottom: -1%;
    right: 50%;
    transform: translateX(50%);
    
}

.slick-dots button {
        /* margin-top: 20px; */
        font-size: 0;
        padding: 0;
        width: 11px;
        height: 11px;
        border-radius: 100%;
        border: none;
        outline: none;
        background-color: #ffffff;
        cursor: pointer;
}

.slick-dots li {
        list-style-type: none;
        margin: 0 6px;
}

.slick-active button {
    background-color: rgb(242, 121, 53);
}
